---
import { authors, evonia } from "../constants";
---

<footer class="bg-black p-4 w-full flex justify-center items-center flex-col gap-3">
  <ul
    class="max-w-screen-lg w-full text-xs text-teal-500 flex items-center justify-evenly"
  >
    {
      authors.map((x) => {
        const nameNode = <span class="p-4">{x.name}</span>;
        return (
          <li>
            {x.link ? (
              <a href={x.link} target="_blank" class="hover:underline">
                {nameNode}
              </a>
            ) : (
              nameNode
            )}
          </li>
        );
      })
    }
  </ul>

  <a
    href={evonia.url}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-1.5 text-[10px] text-white/40 hover:text-white/70 transition-colors duration-100"
  >
    <img src={evonia.logo} alt={evonia.name} width="14" height="14" />
    <span>Powered by {evonia.name}</span>
  </a>
</footer>
